.contact-card{
/* height: 200vh; */
/* background-color: ; */
/* position: fixed; */
/* width: 100%; */
/* box-shadow: 10px 10px 10px green; */
}
.searchContact-list{
    margin: 10px;
}
.conPosition{
    position: sticky;
    top: 0;
    background-color: aqua;
    z-index: 1;
}
.font{
    font-size: 17px;
}
.no{
    border-bottom: 1px;
}
