.main {
  /* height:"100vh"; */
  position: "fixed";
  width: "100%";
  /* background-color: black; */
}

.header {
  /* color: orange; */
  /* text-shadow: ; */
}



.shadow:hover {
  /* background-color: gainsboro; */
  font-size: larger;
}